
<div class="basic-fields">
    {{#if showActiveSuperiority}}
    <div class="form-group">
        <label>{{activeSuperiorityLabel}} {{localize "IMPMAL.Superiority"}}</label>
        <div class="form-fields">
            <select name="activeSuperiority">
                {{#select fields.activeSuperiority}}
                <option value="0">{{localize "IMPMAL_COMMUNITY.ActiveSuperiority.0"}}</option>
                <option value="2">{{localize "IMPMAL_COMMUNITY.ActiveSuperiority.2"}}</option>
                <option value="3">{{localize "IMPMAL_COMMUNITY.ActiveSuperiority.3"}}</option>
                <option value="4">{{localize "IMPMAL_COMMUNITY.ActiveSuperiority.4"}}</option>
                <option value="5">{{localize "IMPMAL_COMMUNITY.ActiveSuperiority.5"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
    {{/if}}
</div>
