<div>
    <div class="form-group">
        <label>{{localize 'IMPMAL.SuperiorityGain.Pool'}}</label>
        <div class="form-fields">
            <label><input type="radio" name="pool" value="allied" {{#if (eq pool "allied")}} checked{{/if}}> Allied</label>
            <label style="margin-left: 10px;"><input type="radio" name="pool" value="enemy" {{#if (eq pool "enemy")}} checked{{/if}}> Enemy</label>
        </div>
    </div>
    <div class="form-group" data-tooltip="{{localize 'IMPMAL.SuperiorityGain.Surprise.Tip'}}">
        <label>{{localize 'IMPMAL.SuperiorityGain.Surprise.Name'}}</label>
        <div class="form-fields">
            <input type="checkbox" name="surprise" {{#if surprise}} checked{{/if}}>
        </div>
    </div>
    <div class="form-group" data-tooltip="{{localize 'IMPMAL.SuperiorityGain.SizeUp.Tip'}}">
        <label>{{localize 'IMPMAL.SuperiorityGain.SizeUp.Name'}}</label>
        <div class="form-fields">
            <input type="checkbox" name="sizeUp" {{#if sizeUp}} checked{{/if}}>
        </div>
    </div>
    <div class="form-group" data-tooltip="{{localize 'IMPMAL.SuperiorityGain.SizeUp5.Tip'}}">
        <label>{{localize 'IMPMAL.SuperiorityGain.SizeUp5.Name'}}</label>
        <div class="form-fields">
            <input type="checkbox" name="sizeUpPlus" {{#if sizeUpPlus}} checked{{/if}}>
        </div>
    </div>
    <div class="form-group" data-tooltip="{{localize 'IMPMAL.SuperiorityGain.Victory.Tip'}}">
        <label>{{localize 'IMPMAL.SuperiorityGain.Victory.Name'}}</label>
        <div class="form-fields">
            <input type="checkbox" name="victory" {{#if victory}} checked{{/if}}>
        </div>
    </div>
    <div class="form-group" data-tooltip="{{localize 'IMPMAL.SuperiorityGain.GreaterVictory.Tip'}}">
        <label>{{localize 'IMPMAL.SuperiorityGain.GreaterVictory.Name'}}</label>
        <div class="form-fields">
            <input type="checkbox" name="greaterVictory" {{#if greaterVictory}} checked{{/if}}>
        </div>
    </div>
    <div class="form-group" data-tooltip="{{localize 'IMPMAL.SuperiorityGain.Winning.Tip'}}">
        <label>{{localize 'IMPMAL.SuperiorityGain.Winning.Name'}}</label>
        <div class="form-fields">
            <input type="checkbox" name="winning" {{#if winning}} checked{{/if}}>
        </div>
    </div>
    <div class="form-group" data-tooltip="{{localize 'IMPMAL.SuperiorityGain.Outmanoeuvre.Tip'}}">
        <label>{{localize 'IMPMAL.SuperiorityGain.Outmanoeuvre.Name'}}</label>
        <div class="form-fields">
            <input type="checkbox" name="outmanoeuvre" {{#if outmanoeuvre}} checked{{/if}}>
        </div>
    </div>
    <div class="form-group" data-tooltip="{{localize 'IMPMAL.SuperiorityGain.WoundedPride.Tip'}}">
        <label>{{localize 'IMPMAL.SuperiorityGain.WoundedPride.Name'}}</label>
        <div class="form-fields">
            <input type="checkbox" name="woundedPride" {{#if woundedPride}} checked{{/if}}>
        </div>
    </div>
    <div class="form-group" data-tooltip="{{localize 'IMPMAL.SuperiorityGain.Custom.Tip'}}">
        <label>{{localize 'IMPMAL.SuperiorityGain.Custom.Name'}}</label>
        <div class="form-fields">
            <input type="number" name="custom" value="{{custom}}">
        </div>
    </div>
</div>
